/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
node_modules

# Personal/system files
.bash_history
.bashrc
.cache/
.claude.json
.claude/
.config/
.dotnet/
.local/
.npm-global/
.npm/
.npmrc
.pm2/
.tmp/
.vscode-remote-containers/
.vscode-server/
.wget-hsts
routes/web.php-ruim
